.git/*
.idea/*
.idea/inspectionProfiles/*
.idea/inspectionProfiles/*.xml
.idea/inspectionProfiles/*.iml
venv/
__pycache__/
.pytest_cache/
output/logs/*.log
*.pyc
*.log
*.ini
*.txt

# 前端
.vscode/*
frontend/vscode/*
.node_modules/*
frontend/node_modules/*