aiofile==3.9.0
aiohttp==3.9.4
aiomysql==0.2.0
aiosignal==1.3.1
aiosqlite==0.17.0
annotated-types==0.6.0
anyio==4.4.0
argon2-cffi==19.1.0
asgiref==3.8.1
async-property==0.2.2
async-timeout==4.0.3
atlastk==0.13.3
attrs==24.3.0
bcrypt==3.2.0
caio==0.9.21
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
ciso8601==2.3.2
click==8.1.8
contextvars==2.4
cryptography==43.0.0
DBUtils==3.1.0
dnspython==2.6.1
email_validator==2.2.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
Faker==18.10.1
fastapi==0.115.6
frozenlist==1.5.0
h11==0.14.0
hiredis==2.0.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
immutables==0.21
iso8601==2.1.0
jsonpath==0.82.2
jsonpath-ng==1.7.0
multidict==6.1.0
numpy==1.24.4
openpyxl==3.1.2
pandas==2.0.3
passlib==1.7.4
pip==24.2
ply==3.11
propcache==0.2.0
pycparser==2.21
pydantic==2.6.2
pydantic_core==2.16.3
PyJWT==2.9.0
PyMySQL==1.1.1
PyPika==0.48.9
pypika-tortoise==0.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
starlette==0.41.3
tortoise==0.1.1
tortoise-orm==0.23.0
typing_extensions==4.11.0
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.33.0
uvloop==0.20.0
wheel==0.44.0
XlsxWriter==3.1.9
xmltodict==0.14.2
xpinyin==0.7.6
yarl==1.15.2
